<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是个登陆界面</title>
</head>
<body>
<h1>
    这是个标题
</h1>
<h4>这是一个登陆界面</h4>
<form action="/my-handling-form-page" method="post">
    <ul>
        <li>
            <label>用户名：</label>
            <input id="name" name="username" type=text>
        </li>
        <li>
            <label>密码：</label>
            <input id="password" name="user_password" type=password>
        </li>
        <button type="submit">登陆</button>
        <a href="/sign-in/">注册</a>
    </ul>
</form>
</body>
</html>